In [3]:
import numpy as np
import pandas as pd

terror=pd.read_csv("C:\\Users\\Sahil\\Downloads\\terrorismData.csv")


df=terror.copy()

In [18]:
df_jk=df[df['State']=='Jammu and Kashmir']
df_jk.shape
df_jk.head()
df_jk=df_jk[df_jk['Group'] !='Unknown']
df_jk.head()
df_jk.shape
df_jk.describe(include ='all')

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
count,983.000000,983.000000,983.000000,983,983,983,983,983.000000,983.000000,983,971.000000,950.000000,972,587,983,983,983
unique,NaN,NaN,NaN,1,1,1,277,NaN,NaN,9,NaN,NaN,664,586,64,16,6
top,NaN,NaN,NaN,India,Jammu and Kashmir,South Asia,Srinagar,NaN,NaN,Armed Assault,NaN,NaN,Patrol,07/28/2017: Assailants raided the residence of...,Hizbul Mujahideen (HM),Police,Firearms
freq,NaN,NaN,NaN,983,983,983,351,NaN,NaN,386,NaN,NaN,34,2,193,295,491
mean,2002.297050,6.362157,15.442523,NaN,NaN,NaN,NaN,33.882566,74.956407,NaN,2.444902,3.914737,NaN,NaN,NaN,NaN,NaN
std,9.465193,3.102964,8.529958,NaN,NaN,NaN,NaN,0.410214,0.569338,NaN,4.446683,8.692747,NaN,NaN,NaN,NaN,NaN
min,1984.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,32.371698,73.862489,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,1995.000000,4.000000,8.000000,NaN,NaN,NaN,NaN,33.770709,74.789902,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
50%,2001.000000,6.000000,15.000000,NaN,NaN,NaN,NaN,34.083740,74.789902,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN
75%,2013.000000,9.000000,23.000000,NaN,NaN,NaN,NaN,34.083740,75.043033,NaN,3.000000,4.000000,NaN,NaN,NaN,NaN,NaN
max,2017.000000,12.000000,31.000000,NaN,NaN,NaN,NaN,34.553852,78.000000,NaN,35.000000,100.000000,NaN,NaN,NaN,NaN,NaN

In [21]:
df_jk_city=df_jk['City']
df_jk_city.describe()

count          983
unique         277
top       Srinagar
freq           351
Name: City, dtype: object

In [25]:
city=(df_jk_city.describe()['top'])
freq=(df_jk_city.describe()['freq'])

In [39]:
df_jk_city_filtered=df_jk[df_jk['City']==city]
df_jk_city_filtered.shape

(351, 17)

In [44]:
group=df_jk_city_filtered.describe(include='all')['Group'].loc['top']
freq=df_jk_city_filtered.describe(include='all')['Group'].loc['freq']

In [45]:
print(str(city) +' '+str(int(freq))+ ' '+ group)

Srinagar 55 Muslim Separatists